

<a href="#main" class="skip-link">{{ meta.skipContent }}</a>
    <link
  rel="stylesheet"
  href="src/assets/css/docsearch.min.css"
/>

<header class="wrapper | relative" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
   {{ meta.siteName }}
    </a>
    {% include "partials/menu.njk" %}
  </div>
</header>
